@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #271c40; /* Navbar background color */
    padding: 20px 10%;
    border-bottom: 2px solid #3c3c3c;
    
  }

  .navbar .logo{
    width: max(12vw, 120px);
  }

  .navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;

  }

  .navbar li{
    cursor: pointer;
  }

  .nav-right{
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
  }

  .navbar select {
    background-color: transparent;  /* Background color of the select box */
    color: rgb(228, 222, 222);               /* Text color */
    padding: 5px 8px;          /* Padding inside the select box */
    border: 2px solid rgb(204, 200, 200);  /* Border color and thickness */
    border-radius: 6px;         /* Rounded corners */
    font-size: 16px;            /* Font size */
    cursor: pointer;            /* Pointer cursor on hover */
  }

  .navbar select:focus {
    outline: none;              /* Removes default outline on focus */
    border-color: #0f0d0c;      /* Changes border color on focus */
  }
  
  .navbar option {
    background-color: #271c40;  /* Background color of the options */
    color: white;               /* Text color of the options */
  }

.navbar button {
    background-color: #ffffff; /* Background color of the button */
    color: rgba(0, 0, 0, 0.912);              /* Text color */
    border: none;              /* Removes default border */
    padding: 10px 15px;        /* Padding inside the button */
    border-radius: 5px;        /* Rounded corners */
    font-size: 16px;           /* Font size */
    cursor: pointer;           /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
  }
  
  .navbar button:hover {
    background-color: #271c40; /* Darker background color on hover */
    transform: scale(1.05);     /* Slightly enlarges the button on hover */
  }
  
  .navbar button:focus {
    outline: none;             /* Removes default focus outline */
    box-shadow: 0 0 0 2px #d6d5d5; /* Adds a custom focus outline */
  }

  .navbar button img {
    width: 13px;             /* Set the width of the image */

  }
  
 
@media (max-width: 900px){
    .navbar{
        padding: 20px 8%;
    }
    .navbar button{
        gap: 8px;
        padding: 8px 18px;
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .navbar{
        padding: 20px 5%;
    }
    .navbar ul{
        display: none;
    }
    .navbar button img{
        width: 12px;
    }
}